/* to cite this css file, you need <link href="main.css" rel="stylesheet" type="text/css"/> */
/* this refereing to style for body in html */
body{
    /* This is what comment looks like in css, kinda like java actually */
    /* color of miku~ */
    background: rgb(211, 211, 211);
    /* I love it, visual studio code really makes my life easier */
    font-family: 'Times New Roman', Times, serif;
}
/* this is style set for link start with <a ..>*/
a {
    color:rgb(62, 62, 62)
}
/* this is style set for paragraph */
p {
    background: rgb(86, 86, 86);
}
